@import "tailwindcss";


*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  background-color: #0b0e11;
  color: white;
  overflow-x: hidden;
}


.contact-field {
  @apply 
    w-full
    px-4
    py-3
    text-sm
    sm:text-base
    bg-[#0f1216]/80
    border
    border-white/10
    rounded-xl
    text-white
    placeholder-white/40
    focus:outline-none
    focus:ring-2
    focus:ring-blue-500
    transition;
}

@layer components {
  .section-container {
    @apply 
      w-full
      max-w-[1280px]
      px-4
      sm:px-6
      md:px-8
      lg:px-10
      mx-auto;
  }
}

@layer components {

  /* NORMAL SECTIONS */
  .section-spacing {
    @apply 
      py-10
      sm:py-14
      md:py-18
      lg:py-22;
  }

  /* HERO / BIG SECTIONS */
  .section-spacing-lg {
    @apply 
      py-14
      sm:py-20
      md:py-28
      lg:py-32;
  }

  /* SMALL SECTIONS */
  .section-spacing-sm {
    @apply 
      py-6
      sm:py-8
      md:py-12;
  }
}


