@import "tailwindcss";

body {

  background-image: rgba(134, 57, 139, 0.275);
}

.contact-field {
  @apply w-full px-4 py-3 
  bg-[#0f1216]/80 
  border border-white/10 
  rounded-xl 
  text-white placeholder-white/40 
  focus:outline-none focus:ring-2 focus:ring-blue-500 
  transition;
}
@layer components {
  .section-container {
    @apply w-[96%] max-w-[1700px] mx-auto;
  }
}

