@import "tailwindcss";

body {

  background-image: rgba(134, 57, 139, 0.275);
}
html {
  overflow-x: hidden;
  scrollbar-gutter: stable;
}


.contact-field {
  @apply w-full px-4 py-3 
  bg-[#0f1216]/80 
  border border-white/10 
  rounded-xl 
  text-white placeholder-white/40 
  focus:outline-none focus:ring-2 focus:ring-blue-500 
  transition;
}
@layer components {
  .section-container {
    @apply w-[96%] max-w-[1700px] mx-auto;
  }
}
@layer components {

  /* NORMAL SECTIONS */
  .section-spacing {
    @apply 
      py-16 
      sm:py-20 
      md:py-24 
      lg:py-28;
  }

  /* HERO / BIG SECTIONS */
  .section-spacing-lg {
    @apply 
      py-20 
      sm:py-28 
      md:py-32 
      lg:py-36;
  }

  /* SMALL SECTIONS */
  .section-spacing-sm {
    @apply 
      py-10 
      sm:py-12 
      md:py-16;
  }
}


